<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BackStage</title>
    <link rel="stylesheet" href="../../static/css/backstage.css">
    <link rel="stylesheet" href="../../static/fonts-icomoon/style.css">

	<style>
		.page {

			width: 350px;
			height: 35px;
			text-align: center;
			margin: 0 auto;
			/*border: 1px solid red;*/

		}
		.page a{
			color: gray;
			style: none;
		}

		.page-td{

			width: 50px;
			border-radius: 5px;
		}
		.page-td:hover{
			background-color: #00a8c6;
		}
		.colors {
			color: #62FFFF;
			text-decoration-line: none;
		}
		.setting{
			margin-bottom: 10px;
			text-indent: 2em;
		}
		.setting-title{
			margin-bottom: 10px;
			text-indent: 1em;
		}
		.im{
			width: 320px;
			height: 250px;
			text-align: center;
			display: inline-block;
			padding-top: 10px;
			margin-right: 20px;
			margin-top: 20px;
			border: 1px solid gray;
		}
		.im-parent {
			width: 98%;
			margin-left: 20px;
		}
		.im a{
			text-decoration: none;
			color: #00c4ff;
		}


	</style>
</head>
<body>
	<span class="icon-circle-left" ></span>
	<span class="icon-circle-right"></span>
	<aside class="left">

			
			<div class="myblog" style="font-size: 20px;color: #FFF;text-align: center;">
				<br>
				MYBLOG
			</div>
			<br>
		
			<p style="color: #fff">Dashboard</p>
			<br>
			<p class="colors setting">Dashboard</p>
			<p class=" setting"><a href="/blogedit" target="_blank" class="colors">发布博客</a></p>

			<br><br>
		
			<p class="colors setting-title" style="font-size: 14px;">管理模块</p>
			
		
			<p class="setting"><a href="/adminBlog" class="colors myblog-btn setting">博客管理</a></p>
			
			<p class="colors personal-info-btn setting">评论管理</p>
			<p class="colors personal-info-btn setting">标签管理</p>
			<p class="colors personal-info-btn setting">分类管理</p>
			<p class="colors personal-info-btn setting"><a href="/admin/ip" class="colors myblog-btn">IP查看</a></p>

			<p class="setting"><a href="/admin/images" class="colors myblog-btn">图片管理</a></p>

			<br>
		
			<p class="colors setting-title" style="font-size: 14px;">系统设置</p>
			
		
			<p class="colors setting system-setting">系统配置</p>
			<div class="back-hide" style="display: none;font-size: 14px;">
				<p class="colors setting" style="text-indent: 3em;">个人信息</p>
		
				<p class="colors setting" style="text-indent: 3em;">站点信息</p>
		
				<p class="colors setting" style="text-indent: 3em;">底部设置</p>
			</div>
		
			<p class="colors setting">修改密码</p>
		
		
			<p class="colors setting">安全退出</p>
		


	</aside>

	<div class="main">
		<div th:if="${blog!=null}" class="main-blog">
		<article class="blog-1" th:each="blogs:${blog.list}">
			<div class="blog">
				<h4><a class="title" th:class="title" th:href="@{'/show?id='+${blogs.id}}" th:text="${blogs.title}"></a>
				</h4>

				<span class="icon-calendar"></span>&nbsp;
				<!--<span th:text="${#strings.substring(blogs.createtime,0,11)}"></span>-->
				<span th:text="${blogs.createtime}"></span>

				&nbsp;&nbsp;&nbsp;
				<span class="icon-price-tag"></span>&nbsp;
				<span th:text="${blogs.catalog}"></span>
				&nbsp;&nbsp;&nbsp;
				<span class="icon-eye"></span>&nbsp;
				<span th:text="${blogs.readsize}"></span>

				&nbsp;&nbsp;&nbsp;
				<span > <a class="edit" th:href="@{'/edit?id='+${blogs.id}}">编辑</a></span>

				&nbsp;&nbsp;&nbsp;
				<span > <a th:href="@{'/delete?id='+${blogs.id}}" class="delete">删除</a></span>
				<p class="summary" th:text="${blogs.summary}"></p>
				<!--<p class="article-more-link">-->
					<!--<a th:href="@{'/show?id='+${blogs.id}}">查看全文</a>-->
				<!--</p>-->

				<!--id: <span th:text="${blog.id}"></span>-->

				<br>
				<!--<span class="art-line"></span>-->
			</div>

		</article>

		<table class="page" cellpadding="0" cellspacing="0">
			<tr>
				<td  class="page-td" th:if="${blog.hasPreviousPage}">
					<a th:href="'?pageNo=1'">首页</a>
				</td>
				<td  class="page-td" th:if="${blog.hasPreviousPage}">
					<a th:href="'?pageNo='+${blog.prePage}">上一页</a>
				</td>
				<td  class="page-td" th:each="nav:${blog.navigatepageNums}">
					<a th:href="'?pageNo='+${nav}" th:text="${nav}" th:if="${nav != blog.pageNum}"></a>
					<span style="font-weight: bold ;color: #000;" th:if="${nav == blog.pageNum}" th:text="${nav}"></span>
				</td>
				<td  class="page-td" th:if="${blog.hasNextPage}">
					<a th:href="'?pageNo='+${blog.nextPage}">下一页</a>
				</td>
				<td  class="page-td" th:if="${blog.hasNextPage}">
					<a th:href="'?pageNo='+${blog.pages}">尾页</a>
				</td>
			</tr>
		</table>

		</div>
		<div th:if="${list!=null}" class="im-parent">
			<div class="im"th:each="images:${list}">


				<img th:src="@{${images}}" width="300px" height="200px" alt="">
				<a th:href="@{'/admin/deleteImage?url='+${images}}">删除</a>
				<a href="#">查看</a>

			</div>
		</div>


		<div class="personal-info" style="display: none;">
			姓名：李东雷 <br>
			状态：Student <br>
			地址：江苏 · 徐州 <br>
			pen-name：子沐 <br>
		</div>

	</div>
	<!-- <aside class="right">
		

	</aside> -->


<script src="../../static/js/jquery.min.js"></script>
<script>
	$(function(){
		var i = 0;
		$(".system-setting").click(function(){
			if(i%2==0){
				$(".back-hide").css({"display":"block"});
				i++;
			}else{
				$(".back-hide").css({"display":"none"});
				i--;
			}
		});
		$(".personal-info-btn").click(function () {
			$(".main-blog").css({"display":"none"});
			$(".personal-info").css({"display":"block"});
		});
		$(".myblog-btn").click(function () {
			$(".main-blog").css({"display":"block"});
			$(".personal-info").css({"display":"none"});
		});
		$(".icon-circle-left").click(function(){
			$(".left").css("display","none");
			$(".icon-circle-left").css("display","none");
			$(".icon-circle-right").css("display","block");
			$(".icon-circle-right").css("left","10px");
			$(".main").css("width","100%");

		});
		$(".icon-circle-right").click(function(){
			$(".left").css("display","block");
			$(".icon-circle-left").css("display","block");
			$(".icon-circle-right").css("display","none");
			$(".main").css("width","88%");

		});
	})
</script>
</body>
</html>