<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <style>
        .im{
            width: 320px;
            height: 250px;
            text-align: center;
            display: inline-block;
            padding-top: 10px;
            margin-right: 20px;
            margin-top: 20px;
            border: 1px solid gray;
        }
        a{
            text-decoration: none;
            color: #00c4ff;
        }
    </style>
</head>
<body>

    <div class="im"th:each="images:${list}">


            <img th:src="@{${images}}" width="300px" height="200px" alt="">
            <a href="#">删除</a>
            <a href="#">查看</a>

    </div>

</body>
</html>