@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?3up7t7');
  src:  url('./icomoon.eot?3up7t7#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?3up7t7') format('truetype'),
    url('./icomoon.woff?3up7t7') format('woff'),
    url('./icomoon.svg?3up7t7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-display:before {
  content: "\e956";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-github:before {
  content: "\eab0";
}
.icon-file-pdf:before {
  content: "\eadf";
}
