<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>子沐的空间 | 技术博客</title>
    <link href="/static/css/index.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
	<!-- header -->

		<header class="header-main">
    		<div class="nav">
    			<a href="#">My BLOG</a>
                <ul class="header-nav">
                	<li>首页</li>
                	<li>关于我</li>
                </ul>

                <form class="nav-search">
                	<input id="search" type="text" placeholder="搜索内容" />
                	<input id="submit-search" type="submit" value="搜索">
                </form>
    		</div>
		
    	</header>
	<!-- header -->
    	
	<!-- body -->
		<div class="main">
			<div class="left">
				<div class="personal">
					<img src="../static/images/man.jpg" alt="">
					<br>
					<a href="https://www.github.com/li-donglei" target="_blank"><h2>李东雷|子沐</h2></a>
					<h3>Student</h3>
					<span>江苏 · 徐州</span>
					<span class="line"></span>

				</div>
			</div>
			<div class="middle">
				<div class="middle-container">
					<!-- <a href="/show">文章</a> -->
					<!--<span th:text="${hello}"></span>-->
				</div>
				
				
			</div>
			<div class="right">
				<div class="right-container">
					<h2>Archives</h2>
				</div>
			</div>

		</div>
	<!-- body -->
	<!-- footer -->
		<footer class="site-footer">
			<div class="footer-menu">
				<span>Theme by Zimu | Power by Zimu</span>
			</div>
			<div class="site-info">
				苏ICP备19007122号-1
			</div>

		</footer>
	<!-- footer -->

	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/index.js"></script>
    
</body>
</html>