*{
	margin: 0;
	padding: 0;
}
/*aside*/
aside {
	display: inline-block;
	/*display: none;*/
	/*position: relative;*/
	width: 230px;
	height: 650px;
	background-color: #1F2325;
}
/*.hiden {
	width: 230px;
	height: 80px;
	border-bottom:1px solid #626466;
}*/
.icon-circle-left, .icon-circle-right {
	position: absolute;
	color: #000;
	font-size: 30px;

}
.icon-circle-left {
	top: 10px;
	left: 10px;
}
.icon-circle-right {
	display: none;
	top: 10px;
	left: 60px;
}


/*aside*/

/*main*/
.main {
	display: inline-block;
	position: relative;
}


/*main*/
