/* 公共部分*/
* {
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
}

/* 公共部分*/

/* header */

.header-main{
	height: 100px;
	/*background-color: cyan; */
    background-color: #f5f8f9;
    /* 阴影*/
    box-shadow: 0 0 5px gray;

}

.nav{
    padding-top: 30px;
}
.nav a{
    /*font-family: 'Monoton';*/
    color: #000;
    font-style: none;
    text-decoration: none;
    padding-left: 120px;
	font-size: 30px;
}
.header-nav {
    margin-left: 30px;
	list-style: none;
    display: inline-block;
}
.nav-search{
    float: right;
    padding-right: 50px;

}
.header-nav li{
	float: left;
    padding-left: 20px;

    color: #000;
}
#search{
    border: none;
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 16px;
    outline: none;
    padding-left: 10px;
}
#submit-search{
    width: 50px;
    height: 40px;
    background-color: #fff;
    color: #222;
    position: absolute;
    right: 50px;
    top: 30px;
    border:none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    outline: none;
    cursor: pointer;

}

/* header */

/*body main*/
/*left*/
.main{
    margin-top: 30px;
    height: 2000px;
    /*background-color: gray;*/
    background-color: #fff;
    margin-bottom: 20px;
}

.left{
    display: inline-block;
    margin-left: 20px;

    width: 20%;
    height: 2000px;
    /*background-color: #256;*/

}


.personal{
    /*margin-top: 20px;*/
    position: absolute;
    width: 200px;
    /*background-color: #277;*/
    background-color: #fff;
    /* 阴影*/
    /*box-shadow: 0 0 3px gray;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    height: 300px;
    margin-left: 30px;
    text-align: center;
    border-radius: 20px;
}
.personal img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}
.personal>a{
    color:  #565a5f;
}
.personal>h3{
    font-weight: normal;
    color:  #565a5f;
}
.location {
    color:  #9a9ea3;
}
.line{
    margin-left: 10%;
    margin-top: 10px;
    display: block;
    border: 1px solid gray;
    width: 80%;
}
/* left*/
/* middle*/
.middle{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: 53%;
    height: 2000px;
    /*background-color: #128;*/
    background-color: #fff;
    /* 阴影*/
    /*box-shadow: 0 0 12px gray;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);*/

    /*border-radius: 20px;*/



}

.middle-container{
    position: absolute;
    width: 100%;
}
.middle-container{
    width: 100%;
}
.middle-container a{
    color: #fff;
}

.blog-1{
    width: 685px;
    height: 300px;


    /*background-color: cyan;*/
    margin: 10px auto;
    /*text-align: center;*/
    border-radius: 20px;
    color: #565a5f;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);

    border-radius: 20px;

}
.blog {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.title{
    text-decoration: none;
    color: #565a5f!important;
    font-weight: 400;
    font-size: 30px;

}

/*.article{*/
    /*display: block;*/
    /*width: 500px;*/
    /*height: 300px;*/
    /*border-radius: 20px;*/
    /*background-color: cyan;*/
    /*!*margin-top: 30px;*!*/
    /*margin: 30px auto 0 auto; */
/*}*/
/*.blog-1 {*/
    /*width: 500px;*/
    /*height: 300px;*/
    /*background: pink;*/
/*}*/
/* middle*/

/* right*/
.right{
    display: inline-block;
    margin-left: 20px;
    width: 20%;
    height: 2000px;
    /*background-color: #299;*/
    background-color: #fff;
    /* 阴影*/
    /*box-shadow: 0 0 12px gray;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    

    border-radius: 20px;


}
.right-container{
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
}
/* right*/

/*body main*/


/*footer*/
.site-footer{
    background-color: #474e5d ;
    height: 80px;
    color:#b3b5ba;
    text-align: center;
    padding-top: 30px;
}
/*footer*/
