<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>子沐的空间 | 技术博客</title>
    <link href="static/css/index.css" rel="stylesheet" />
	<link rel="stylesheet" href="static/fonts-icomoon/style.css">
	<style>
		/*.title:hover{*/
			/*color: #38b7ea!important;*/
		/*}*/

	</style>
</head>
<body>
	<div class="container">
	<!-- header -->

		<header class="header-main">
    		<div class="nav">
    			<a class="nav-ico" href="#">My BLOG</a>
                <ul class="header-nav">
                	<li><a href="/index.html" class="nav-a">首页</a></li>
                	<li><a href="#" class="nav-a">关于我</a></li>
                </ul>

                <form class="nav-search">
                	<input id="search" type="text" placeholder="搜索内容" />
                	<input id="submit-search" type="submit" value="搜索">
                </form>
    		</div>
		
    	</header>
	<!-- header -->
    	
	<!-- body -->
		<div class="main">
			<div class="left">
				<div class="personal">
					<img src="../static/images/erweima.png" alt="">
					<br>
					<a href="https://www.github.com/li-donglei" target="_blank"><h2>李东雷</h2></a>
					<h3>Student</h3>
					<span class="location">江苏 · 徐州</span>
					<span class="line"></span>

				</div>
			</div>
			<div class="middle">
				<div class="middle-container">
					<!-- <a href="/show">文章</a> -->
					<!--<span th:text="${hello}"></span>-->
					<!--<div >-->
						<article class="blog-1" th:each="blog:${blog}">
							<div class="blog">
								<h1 ><a class="title" th:class="title" th:href="@{'/show?id='+${blog.id}}" th:text="${blog.title}"></a></h1>
								<br>
								<span class="icon-calendar"></span>&nbsp;
								<span th:text="${#strings.substring(blog.createtime,0,11)}"></span>
								&nbsp;&nbsp;&nbsp;
								<span class="icon-price-tag"></span>&nbsp;
								<span th:text="${blog.catalog}"></span>
								&nbsp;&nbsp;&nbsp;
								<span class="icon-eye"></span>&nbsp;
								<span th:text="${blog.readsize}"></span>

								&nbsp;&nbsp;&nbsp;
								<span > <a th:href="@{'/edit?id='+${blog.id}}">编辑</a></span>

								<br><br> <br>
								<p th:text="${blog.summary}"></p>
								<br><br>
								<p class="article-more-link">
									<a th:href="@{'/show?id='+${blog.id}}">查看全文</a>
								</p>

								<!--id: <span th:text="${blog.id}"></span>-->

								<br>
								<!--<span class="art-line"></span>-->
							</div>

						</article>
					<!--</div>-->


				</div>

				
				
			</div>
			<div class="right">
				<div class="right-container">
					<h2>Archives</h2>
				</div>
			</div>

		</div>
	<!-- body -->
	<!-- footer -->
		<footer class="site-footer">
			<div class="footer-menu">
				<span>Theme by Zimu | Power by Zimu</span>
			</div>
			<div class="site-info">
				苏ICP备19007122号-1
			</div>

		</footer>
	<!-- footer -->

	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/index.js"></script>
    
</body>
</html>