<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>子沐的空间 | 技术博客</title>
    <link href="../static/css/index.css" rel="stylesheet" />
	<style>
		.blog-1{
			width: 500px;
			height: 200px;

			/*background-color: cyan;*/
			margin: 10px auto;
			/*text-align: center;*/
			border-radius: 20px;
			color: #565a5f;

		}
		.title{
			text-decoration: none;
			color: #565a5f!important;

		}
		.middle-container{
			width: 100%;
		}
		.art-line{
			display: block;
			height: 0;
			width: 500px;
			border: 2px solid gray;

		}

	</style>
</head>
<body>
	<div class="container">
	<!-- header -->

		<header class="header-main">
    		<div class="nav">
    			<a href="#">My BLOG</a>
                <ul class="header-nav">
                	<li>首页</li>
                	<li>关于我</li>
                </ul>

                <form class="nav-search">
                	<input id="search" type="text" placeholder="搜索内容" />
                	<input id="submit-search" type="submit" value="搜索">
                </form>
    		</div>
		
    	</header>
	<!-- header -->
    	
	<!-- body -->
		<div class="main">
			<div class="left">
				<div class="personal">
					<img src="../static/images/erweima.png" alt="">
					<br>
					<a href="https://www.github.com/li-donglei" target="_blank"><h2>李东雷</h2></a>
					<h3>Student</h3>
					<span class="location">江苏 · 徐州</span>
					<span class="line"></span>

				</div>
			</div>
			<div class="middle">
				<div class="middle-container">
					<!-- <a href="/show">文章</a> -->
					<!--<span th:text="${hello}"></span>-->
					<div th:each="blog:${blog}">
						<article class="blog-1" >
							<h1 ><a class="title" th:href="@{'/show?id='+${blog.id}}" th:text="${blog.title}"></a></h1>
							<br>
							<span th:text="${blog.createtime}"></span> <br><br>
							<p th:text="${blog.summary}"></p>
							<br>

							id: <span th:text="${blog.id}"></span>

							<br>
							<span class="art-line"></span>
						</article>
					</div>


				</div>

				
				
			</div>
			<div class="right">
				<div class="right-container">
					<h2>Archives</h2>
				</div>
			</div>

		</div>
	<!-- body -->
	<!-- footer -->
		<footer class="site-footer">
			<div class="footer-menu">
				<span>Theme by Zimu | Power by Zimu</span>
			</div>
			<div class="site-info">
				苏ICP备19007122号-1
			</div>

		</footer>
	<!-- footer -->

	</div>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/index.js"></script>
    
</body>
</html>