<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .site-footer{
            background-color: #474e5d ;
            height: 80px;
            color:#b3b5ba;
            text-align: center;
            padding-top: 30px;
        }
    </style>
</head>
<body>

<footer class="site-footer" th:fragment="footer">
    <div class="footer-menu">
        <span>Theme by Zimu | Power by Zimu</span>
    </div>
    <div class="site-info">
        苏ICP备19007122号-1
    </div>

</footer>

</body>
</html>